@model CategoryModel
<div class="card text-decoration-none" style="width: 10rem; height: 10rem; border-radius: 20px; border: 0;">
    <img src="~/CategoryImages/@Model.ImageUrl" class="card-img-top" alt="@Model.Name" style="height: 7rem; border-top-right-radius: 20px; border-top-left-radius: 20px;">
    <div class="card-body">
      <h6 class="card-title text-center">@Model.Name</h6>
    </div>
</div>