<!-- Remove the container if you want to extend the Footer to full width. -->
<div>
    <div id="costumer-footer" class="text-center text-lg-start">
      <div class="container d-flex justify-content-center py-5">
        <a type="button" class="btn btn-lg btn-floating mx-2" style="background-color: #000;">
          <i class="fab fa-facebook-f text-white"></i>
        </a>
        <a type="button" class="btn btn-lg btn-floating mx-2" style="background-color: #000;">
          <i class="fab fa-youtube text-white"></i>
        </a>
        <a type="button" class="btn btn-lg btn-floating mx-2" style="background-color: #000;">
          <i class="fab fa-instagram text-white"></i>
        </a>
        <a type="button" class="btn btn-lg btn-floating mx-2" style="background-color: #000;">
          <i class="fab fa-twitter text-white"></i>
        </a>
      </div>
  
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://www.yemekguru.com.tr">Yemek Guru</a>
      </div>
      <!-- Copyright -->
    </div>
  </div>
