
<nav class="navbar bg-black border-bottom border-body">
    <div class="container">
        <div>
            <button class="btn text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-bars fa-xl"></i></button>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header" style="background-color: #ff6600;">
                    <h5 class="offcanvas-title fw-bold" id="offcanvasWithBothOptionsLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-flex align-content-between flex-wrap w-100" style="background-color: #000000;">
                    <ul class="list-group w-100">
                        <a href="/admin/index" class="list-group-item mb-3 fw-bold link" style="border-color: #ff6600; border-style: solid; border-width: 3px; border-radius: 20px;">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="fa-solid fa-gauge-high fa-xl me-3"></i><span>Dashboard</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-chevron-right fa-xl"></i>
                                </div>
                            </div>
                        </a>
                        <a href="/admin/ordermanager" class="list-group-item mb-3 fw-bold link" style="border-color: #ff6600; border-style: solid; border-width: 3px; border-radius: 20px;">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="fa-solid fa-list-check fa-lg me-3"></i></i><span>Sipariş Yönetimi</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-chevron-right fa-xl"></i>
                                </div>
                            </div>
                            
                        </a>
                        <a href="#" class="list-group-item mb-3 fw-bold link" style="border-color: #ff6600; border-style: solid; border-width: 3px; border-radius: 20px;">
                            
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="fa-solid fa-burger fa-lg me-2"></i><span>Restaurant Yönetimi</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-chevron-right fa-xl"></i>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item mb-3 fw-bold link" style="border-color: #ff6600; border-style: solid; border-width: 3px; border-radius: 20px;">
                            
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="fa-solid fa-hotel fa-xl me-3"></i>
                                    <span>Kullanıcı Yönetimi</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-chevron-right fa-xl"></i>
                                </div>
                            </div>
                        </a>
                    </ul>
                    <ul class="list-group w-100" style="margin-top: auto;">
                        <a href="/" class="list-group-item mb-3 fw-bold" style="border-color: #ff6600; border-style: solid; border-width: 3px; border-radius: 20px; background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%); -webkit-background-clip: text; color: transparent; display: inline-block;">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="fa-solid fa-right-from-bracket fa-xl me-3"></i><span class="me-3">Çıkış Yap</span>
                                </div>
                            </div>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <a href="/admin/index" class="d-flex text-decoration-none">
                <img src="~/Icons/yemekguru.jpg" alt="" style="width: 60px; border-radius: 5px;" class="me-3">
                <h3 class="text-center text-black fw-bold text-white">Admin Yönetim Paneli</h3>
            </a>
        </div>
    </div>
</nav>

