

@{
    ViewData["Title"] = "Cüzdan";
}

<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center">
            <div class="p-5 text-center" style="border-color: #ff6600; border-style: solid; border-width: 15px; border-radius: 50%; width: 400px; height: 400px;">
                <div class="d-flex align-items-center justify-content-center" style="width: 100%; height: 100%;">
                    <div>
                        <h1 class="fw-bold" style="color: #ff6600;">422 TL</h1>
                    </div>
                </div>
                <div>
                    <button class="btn btn-success fw-bold fs-6" style="border-radius: 50px;"><span class="me-2">Para Yükle</span><i class="fa-solid fa-turkish-lira-sign fa-beat"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

