@{
    ViewData["Title"] = "Yetkisiz Giriş";
}

<div class="row g-0" style="background-color: #2ab5f4;">
    <div class="col-6">
        <img src="~/Gifs/lock.gif" alt="" style="width: 100%;">
    </div>
    <div class="col-6 d-flex justify-content-center align-content-center flex-wrap">
        <div>
            <h1 class="mb-3 text-center fw-bold text-primary">Yetkisiz Giriş</h1>
            <h1 class="mb-5 text-center fw-bold text-danger">Bunu bir daha denemeyin!</h1>
            <h1 class="mb-3 text-center text-danger"><i class="fa-solid fa-lock fa-shake fa-2xl"></i></h1>
        </div>
    </div>
</div>
