@model LoginModel
@{
    ViewData["Title"]="Şifremi Unuttum";
    var Alert=TempData["Alert"];
}

@if(TempData["Message"]!=null)
{
    <div class="d-flex justify-content-center mt-3">
        <div class="alert @Alert" role="alert">
            @TempData["Message"]
        </div>
    </div>
    
}
<div class="container d-flex justify-content-center">
    <div class="my-5 p-4 p-sm-4 p-md-4 p-lg-4 p-xl-4" style="width: 500px; background-color: #ff6600; border-radius: 25px;">
        <div>
            <div class="d-flex justify-content-center mb-3">
                <img src="~/Icons/yemekguru.jpg" alt="" style="width: 100px;">
            </div>
            <div class="d-flex justify-content-center mb-3">
                <h1 class="h3 text-white">Şifremi Unuttum</h1>
            </div>
        </div>
        <div>
            <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                <div class="mb-4">
                    <input asp-for="UserName" class="form-control"  placeholder="@Html.DisplayNameFor(i=>i.UserName)">
                    <span class="text-white" asp-validation-for="UserName"></span>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-light fw-bolder"><span class="me-2">Gonder</span><i class="fa-regular fa-paper-plane"></i></button>
                </div>
            </form>
            <div>
                <div class="d-flex justify-content-center mb-2">
                    <a asp-controller="Account" asp-action="Login" class="text-white" style="color: #ff6600;">Giriş Yap</a>   
                </div>
            </div> 
            <div class="d-flex justify-content-center mt-3">
                <div class="alert alert-warning" style="border-radius: 20px;" role="alert">
                    <i class="fa-solid fa-envelope-circle-check fa-lg me-2"></i><span>Yeni şifreniz hesabınıza bağlı mail adresinize gönderilecektir.</span>
                </div>
            </div>
        </div>
    </div>
    
</div>
